modules:
  agent:
    http_client_config:
      follow_redirects: false
      enable_http2: false

    metrics:
      - name: agent_info
        help: Agent info
        type: object
        path: '{.metrics.meta}'
        labels:
          hostname: '{.hostname}'
          kernel:   '{.kernel}'
          os:       '{.os}'
        values:
          info: '1'

      - name: cpu
        help: CPU usage percent over a short interval
        type: object
        path: '{.metrics.cpu}'
        labels: {}
        values:
          usage_percent: '{.usage_percent}'

      - name: load
        help: Load average over 1, 5, 15 minutes
        type: object
        path: '{.metrics.load}'
        labels: {}
        values:
          load1:  '{.load1}'
          load5:  '{.load5}'
          load15: '{.load15}'

      - name: mem
        help: Memory usage in bytes
        type: object
        path: '{.metrics.mem}'
        labels: {}
        values:
          total_bytes:       '{.total_bytes}'
          used_bytes:        '{.used_bytes}'
          swap_total_bytes:  '{.swap_total_bytes}'
          swap_used_bytes:   '{.swap_used_bytes}'

      - name: disk
        help: Disk usage per mountpoint
        type: object
        path: '{.metrics.disk[*]}'
        labels:
          mountpoint: '{.mount}'
          device:     '{.device}'
        values:
          total_bytes: '{.total_bytes}'
          used_bytes:  '{.used_bytes}'

      - name: service
        help: Critical services
        type: object
        path: '{.metrics.services[*]}'
        labels:
          service: '{.name}'
        values:
          up: '{.up}'
